{
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": ["**/*.svelte"],
			"options": {
				"parser": "svelte"
			}
		}
	],
	"svelteStrictMode": true,
	"useTabs": true,
	"trailingComma": "none",
	"printWidth": 100
}
